!!!
html
  head
    meta(charset="utf-8")
    title ENTERING DEATH MODE - achewatr
    link(href='http://fonts.googleapis.com/css?family=Press+Start+2P'
      rel='stylesheet'
      type='text/css')
    style
      body
        background: url("/images/500/clickrobot.svg") bottom 600px;
        font-family: 'Press Start 2P', monospace;
        text-transform: uppercase;
      #error {
        position: absolute;
        bottom: 100px;
        left: 100px;
      }
  body
    #error
      pre= error
      p WHAT DID YOU DO
