!!!
html
  head
    meta(charset="utf-8")
    title achewatr
    link(rel="stylesheet", href="/achewatr.css")
  body.index
    h1 achewatr
    h2 A distillation of Achewood.
    #ends
      a(href="/achewood/date/10012001") Start at the beginning
      a(href="/latest") Skip to the end
    form#searchbox
      input()
    #randoms
    #archive
