doctype
html
  head
    meta(charset="utf-8")
    title achewatr
    link(rel="stylesheet", href="/achewatr.css")
    link(rel="stylesheet", href="/index.css")
  body.index
    #top.top
      h1 achewatr
      h2 A distillation of Achewood.
      #ends
        a(href="/achewood/date/10012001") Start at the beginning
        a(href="/latest") Skip to the end
      form#searchbox(action='/go')
        input(name='q')
        button(type='submit') Go
      #randoms
      #archive
    hr.separator
    .what: article#what
      h2 What is Achewood?
      h3 Explained, sort of:
      p Achewood's <a href="http://en.wikipedia.org/wiki/Achewood">Wikipedia</a> article.
      p: a(href="http://achewood.com/about.php") about achewood
      p.
        <b>Achewood</b> is a webcomic created by Chris Onstad in 2001. In
        <a href="/raysplace/date/04302003">April 2003</a>, one of the characters
        started an advice column, with responses to reader questions, and in
        <a href="/achewood/date/07022004">July 2004</a>, nine of the characters
        started their own blogs, posting concurrently with the strip, sometimes
        referring to the plot of the comic in their posts (and the comic, in time,
        referring back to the blogs).
      p.
        Each of these is presented on its own site (or subsite, in the case of
        Ray's Place), with no navigation between pages. Achewatr (this site) is
        a navigable collection of all the blog posts, comic strips, and advice
        columns published over the run of the strip, presented in chronological
        order.