extends achewatr

block head
  link(rel="stylesheet", href="/raysplace.css")

block content
  article#ray
    header
      hgroup
        h1.rayTitle Ray's Place
        h2.raySubtitle All the Latest Thoughts & Ideas from Ray
      .tapTapTap
        img(src = "http://achewood.com/rsrc/img/raysplace.gif", alt = "Tap, tap, tap")
      time.rayDate= active.published.toString('MMM d, yyyy')
    #rayContent!= active.content
