html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

a img {
  border: none;
  text-decoration: none;
}

#achewatr-nav {
  color: white;
  background-color: #060;
  padding: 2px 10px 3px 10px;
  font-size: 11px;
  border-bottom: solid 1px black;
}

#achewatr-nav .source{
  display: block;
}

#achewatr-nav a {
  text-decoration: none;
  color: white;
}

#achewatr-prev {
  position: absolute;
  left: 4px;
  top: 4px;
  text-align: left;
}

#achewatr-heading {
  text-align: center;
  margin: inherit auto;
}

#achewatr-next {
  position: absolute;
  right: 4px;
  top: 4px;
  text-align: right;
}

#achewatr-content {
  clear: both;
}

#achewatr-footer {
  clear: both;
  background-color: #9C0;
  color: #666;
  text-align: center;
  padding: 1em;
  border-top: solid 1px black;
}

#achewatr-footer a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}
