#achewatr-content {
  clear: both;
  background-color: #fff;
  text-align: center;
}

#comic_body {
  line-height: 100%;
}

#comic_footer {
  width: 700px;
  margin: 4px auto;
  text-align: left;
  min-height: 1em;
}

.visible-alt-text {
  text-align: left;
  color: #ddd;
}
