#achewatr-content {
  clear: both;
  background-color: #fff;
  text-align: center;
  padding-top: 3px;
}

#comic_header {
color: red;
text-align: center;
margin: 0 auto 3px auto;
font-size: x-small;
width: 700px;
}

#comic_body {
  line-height: 100%;
}

#comic_footer {
  width: 700px;
  margin: 0 auto 4px;
  text-align: left;
  min-height: 1em;
}

.visible-alt-text {
  text-align: left;
  color: #ddd;
}
