#achewatr-content {
  clear: both;
  background-color: #fff;
  text-align: center;
}

#comic_footer {
  width: 700px;
  margin: 0 auto;
  text-align: left;
}

.visible-alt-text {
  text-align: left;
  color: #ddd;
}
