#achewatr-content {
  background: white;
}

#ray {
  padding: 32px 0;
  margin: 0 auto;
  font-family: Georgia, Times, Garamond, Serif;
  font-size: small;
  color: black;
  line-height: 120%;
  width: 400px;
}

.rayTitle {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
.raySubtitle {
  font-size: 13px;
  font-weight: bold;
  color: #999;
  line-height: 150%;
}

.rayDate {
  display: block;
  font-size: 10px;
}

.tapTapTap{
  border-bottom: 1px solid black;
  margin-bottom: 3px;
}
.tapTapTap img {
  display: block;
  margin-left: auto;
  margin-bottom: -3px;
}
#rayContent {
  margin: 8px 0;
}